:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li>a{
  font-family: 'proxima-nova', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14.2969px;
}
li>a:hover{
  color: #A67A4B;
  transition: 0.4s;
}
main{
  min-height:calc(100vh - 287px);
  background-color: #EFF1F2;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
